surfingkeys_mark {
    background: hsl(20, 76%, 49%);
    color: hsl(0, 0%, 10%);
}
div.surfingkeys_cursor {
    background: hsl(20, 76%, 49%);
    color: hsl(0, 0%, 10%);
}
div.surfingkeys_cursor:empty {
    padding: 0px 2px;
    min-height: 12px;
}
#sk_hints>div {
    position: absolute;
    display: block;
    font-size: 12px;
    font-weight: bold;
    font-family: Inconsolata;
    padding: 0px 2px 0px 2px;
    background: hsl(20, 76%, 49%);
    color: hsl(0, 0%, 10%);
    border: solid 1px hsl(0, 0%, 10%);
    border-radius: 2px;
    width: auto;
}

/* #sk_hints[mode=text]>div { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaa), color-stop(100%,#fff)); } */

#sk_emoji {
    z-index: 2147483000;
    position: absolute;
    display: block;
    background: hsl(0, 0%, 100%);
    border-radius: 0px 0px 2px 2px;
}
#sk_emoji>div>span {
    padding-right: 8px;
    font-size: 18px;
    vertical-align: middle;
}
#sk_emoji>div {
    padding: 4px 8px;
}
#sk_emoji>div.selected {
    background: hsl(20, 76%, 49%);
    color: hsl(0, 0%, 10%);
}
