body {
    margin: 0px;
}

kbd,
.kbd,
#kbd {
    display: inline-block;
    padding: 3px 5px;
    font-family: Inconsolata, Terminus, "Ubuntu Mono", monospace;
    font-size: 11px;
    line-height: 10px;
    color: hsl(0, 0%, 80%);
    vertical-align: middle;
    background-color: hsl(0, 0%, 20%);
    border: solid 1px hsl(0, 0%, 35%);
    border-bottom-color: hsl(0, 0%, 10%);
    border-radius: 2px;
}

.description {
    padding: 10px 10%;
    border-bottom: solid 1px hsl(0, 0%, 15%);
}

.description > div {
    padding: 0px 20px;
    border-left: 1px solid hsl(0, 0%, 35%);
    display: inline-block;
}

.annotation {
    padding-left: 12px;
}

.content {
    margin: 0px;
    padding: 0px 10%;
    height: 90vh; /* window.innerHeight * 0.88 */
    overflow: scroll;
    background: hsl(0, 0%, 30%);
}

.content > div {
    background: hsl(0, 0%, 20%) !important;
}
